{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

    {% block head %}{% endblock head %}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <style>
      body {
        background-color: #F8F9FA;
      }
    </style>
    {% endblock css %}
    {% block navigation %}
    {% include 'snippets/sidebar.html' with peran='user' %}
    {% include 'snippets/topbar.html' %}
    {% endblock %}
    {% block content %}
    {% endblock content %}
    {% block script %}
    <script src="{% static 'js/dashboard.js' %}"></script>
    {% endblock script %}