{% extends 'modul/edit/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="isi bg-white">
    <div class="container my-4">
        <form action="" method="post">
            <div class="modal-body">
                {% csrf_token %}
                {{form.media}}
                {% bootstrap_form form %}
            </div>
            <div class="modal-footer">
              {% bootstrap_button button_type="submit" content="Simpan" %}
            </div>
        </form>
    </div>
</div>
{% endblock content %}