{% extends 'modul/edit/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="isi bg-white">
    <div class="container my-4">
        <form action="" method="post">
            {% csrf_token %}
            {{form.media}}
            {% bootstrap_form form %}
            <div class="d-flex justify-content-end gap-2">
                <a href="{% url 'modul:module' slug=slug action='read' %}" class="btn btn-outline-primary">Kembali</a>
                {% bootstrap_button button_type="submit" content="Simpan" %}
            </div>
        </form>
    </div>
</div>
{% endblock content %}